
.menu{
    background-color:#B11313;
}
.texte{
    text-align: center;
    color:white;
    margin:15px,10px,10px,15px;
}
.container{
    background-color:#F1c530 ;
    text-align: right;
    margin: auto;
    height: 0%;

}
.container1{
    background-color: #B11313;
    background-position: flex;
    margin:15px;
    text-decoration-line:center;
    bottom:raduis;
    height: 5px;
}
.img {
    background-color: #B11313;
    background-position: 2%;
    width: auto;
    height: 200px;
    text-decoration-color: #ffffff;
    }
    
.container2{
    background-color: #B11313;
    background-position: flex;
    margin-top: auto;
    height: 5px;
    text-align: right;
    text-decoration-color: #ffffff;
}
.box{
    box-sizing: border-box;
    text-align: right;
    border-radius: 0%;
}
.container {
    background-color: #114C92;
    text-decoration-color: #ffffff;
    }
  . text
  {
         text-align:inset-inline-start 2em;
         margin:auto

#style bonus;
 header {
     background-color: #B11313;
     text-decoration-line: none;
      margin-right: 0ex;
}
.img{
    image-orientation: auto;
    padding: 650px;
    height: 0;

}
.w hero
{
    
    background-color: #114C92;
    text-decoration: underline;
    text-decoration-color: #aaa4a4;
    }
.img src:margin right:15px;
.audio{
    margin-top: auto;
    margin-left: 10%;
    height: 4em;
    position: relative;
    color:#ffffff;
}
.section {
    text-align: center;
    text-decoration-color: #ffffff;
    position: absolute;
}
.section {
text-align: justify;
text-decoration-color:#ffffff;
}
.img src:display-flex{
margin: 15px;
padding-top: 0ch;
text-decoration-line: underline;
}
.footer{
    background-color: #114C92;
    background-position: display-flex;
    font-size: 13px;
    text-decoration: #aaa4a4;
    padding: 2em 0;
    margin: 15px;
}

}
